{% extends "pizzas/base.html" %}
{% load static %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Pizzas!</h1>
        <p class="lead">Choose from any pizza and look at their toppings.
            You may also comment on your favorite(or not) pizzas.</p>
            <img src="{% static 'pizzas/images/chef.png' %}">
        <a class="btn btn-lg btn-danger" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}