
{% extends "pizzas/base.html" %}

{% block page_header %}
    <h3>{{ pizza }}</h3>
{% endblock page_header %}

{% block content %}
    {% for topping in toppings %}
    <div class="card mb-3">
        <h4 class="card-header">
            <p>Toppings</p>
        </h4>
        <div class="card-body">
            {{ topping.name|linebreaks }}
        </div>
    </div>

{% empty %}
<p> There are no toppings for this pizza yet.</p>
{% endfor %}

    <p>
        <a href = "{% url 'pizzas:new_comment' pizza.id %}">Add new comment</a>
    </p>

    {% for comment in comments %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ comment.date_added|date:'M d, Y H:i' }}
            </h4>
            <div class="card-body">
                {{ comment.name|linebreaks }}
            </div>
        </div>

    {% empty %}
        <p> There are no comments for this pizza yet.</p>
    {% endfor %}

{% endblock content %}

